var dataProperties: Tree
    var emptyMenuMessage: HTMLString
    var pathSeparatorString: HTMLString
    var selectedBaseStyle: CSSStyleName
    var showPath: Boolean
    var treeMenu: Menu with AutoChild
    val treeMenuConstructor: SCClassName
    var unselectedTitle: HTMLString
