var listProperties:ListProperties
    var listPropertiesChanged:js.Function1[ListProperties, _]
    val sampleTile: Canvas with MultiAutoChild
    val sampleTileLayout: TileLayout with AutoChild
    val startNumberField: SpinnerItem with AutoChild
    val startNumberForm:DynamicForm with AutoChild
