var dataProperties: ScOption[Tree] = ScNone
var emptyMenuMessage: ScOption[HTMLString] = ScNone
var pathSeparatorString: ScOption[HTMLString] = ScNone
var selectedBaseStyle: ScOption[CSSStyleName] = ScNone
var showPath: ScOption[Boolean] = ScNone
var treeMenu: ScOption[Menu ] = ScNone
var treeMenuConstructor: ScOption[SCClassName] = ScNone
var unselectedTitle: ScOption[HTMLString] = ScNone
