var hoverCanvasDefaults: ScOption[Types.Object = js.native] = ScNone
var leftOffset: ScOption[Int = js.native] = ScNone
var moveWithMouse: ScOption[Boolean = js.native] = ScNone
var topOffset: ScOption[Int = js.native] = ScNone
